@charset "utf-8";
/* CSS Document */
/* iconfont  */
@font-face {font-family: "iconfont";
  src: url('../img/iconfont/iconfont.eot'); /* IE9*/
  src: url('../img/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../img/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../img/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../img/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  color: #FFF;
  filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity: 0.4; opacity: 0.4;
  font-weight: 200;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iconthree:before { content: "\e60a"; }
.icon-iconfour:before { content: "\e608"; }
.icon-iconsix:before { content: "\e609"; }
.icon-icondot:before { content: "\e607"; }

/* iconfont -------- */

#superContainer {
    height: 100%;
    position: relative;
}
.section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.slide {
    float: left;
}
.slide, .slidesContainer {
    height: 100%;
    display: block;
}
.slides {
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.section.table, .slide.table {
    display: table;
    width: 100%;
}
.tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.slidesContainer {
    float: left;
    position: relative;
}
.controlArrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.controlArrow.prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.controlArrow.next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.scrollable {
    overflow: scroll;
}
.easing {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
#fullPage-nav {
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 1;
}
#fullPage-nav.right {
    right: 18px;
}
#fullPage-nav.left {
    left: 17px;
}
.fullPage-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fullPage-slidesNav.bottom {
    bottom: 17px;
}
.fullPage-slidesNav.top {
    top: 17px;
}
#fullPage-nav ul, .fullPage-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fullPage-nav li, .fullPage-slidesNav li {
    display: block;
    width: 14px;
    height: auto;
    margin-bottom: 10px;
    position: relative;
}
.fullPage-slidesNav li {
    display: inline-block;
}
#fullPage-nav li a, .fullPage-slidesNav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fullPage-nav li .active span, .fullPage-slidesNav .active span {
    height: 30px;
    background: #FFF;
}
#fullPage-nav span, .fullPage-slidesNav span {
    z-index: 1;
    display: block;
    width: 7px;
    height: 7px;
    border: 2px solid #FFFFFF;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition: .3s cubic-bezier(.3,0,0,1.8);
    transition: .3s cubic-bezier(.3,0,0,1.8);
}
.fullPage-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    top: -2px;
    white-space: nowrap;
}
.fullPage-tooltip.right {
    right: 20px;
}
.fullPage-tooltip.left {
    left: 20px;
}
/* -- semantic style -- */
.sectioin {
    position: relative;
    overflow: hidden;
}

#cate_nav {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 104px;
    width:100%;
    padding: 15px 0;
    overflow: hidden;
    transition: .8s cubic-bezier(.3,0,0,1.3);
}
#cate_nav ul{
    text-align: center;
    white-space:nowrap;
}
#cate_nav li {
    display: inline-block;
    *display: inline;
    *zoom: 1; 
    margin: 0 17px;
    font-size: 14px;
}
#cate_nav a {
    display: block;
    padding: 8px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border:2px solid transparent;
    border-radius: 4px;
    transition: .5s cubic-bezier(.3,0,0,1.3);
}
#cate_nav a:hover{
    color: #fff;
}
#cate_nav .active a {
    color: #fff;
    border:2px solid #ffffff;
}
/* 导航收缩动画 */
.header_menu{
    transition: .8s cubic-bezier(.3,0,0,1.3);
}
.hide .header_menu{
    opacity: 0;
    top: -100px;
    transform:translate3d(0,0,0);
}
#cate_nav.slideup{
    top: 0;
    transform:translate3d(0,0,0);
}

#cate_nav.slideup a{
    color: #9ebfd8;
    font-size: 14px;
}
#cate_nav.slideup a:hover{
    color: #FFF;
}
#cate_nav.slideup .active a{
    color: #FFF;
}
/*几个主体滚屏 框架*/
.col_1_wrap, .col_2_wrap, .col_3_wrap, .col_4_wrap, .col_5_wrap, .col_6_wrap{
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -600px;
}

.col_5_wrap{
    top: 55%;
}
.col_6_wrap{
    top: 52%;
}
.col_help{
    float: right;
    margin-top: 12px;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    transition: all .3s ease;
}
.col_help:hover{
    color: #9ebfd8;
}
.icon_word{
    width: 15px;
    height: 18px;
    background: url(../img/semantic/icon_word_2.png) no-repeat 0 0 ;
}
.col_help .icon_word{
    margin-right:5px; 
}
.godown {
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 100;
    width: 53px;
    height: 53px;
    margin-left: -26px;
    background: url(../img/semantic/icon_next.png) no-repeat 0 0 ;
    -webkit-animation: ani_godown 0.8s ease-in-out infinite alternate ;
    animation: ani_godown 0.8s ease-in-out infinite alternate ;
}
@-webkit-keyframes ani_godown {
    0% {
        opacity: 0.9;
        transform:translate3d(0,-2px,0) scale(1);
    }
    100% {
        opacity: 1;
       transform:translate3d(0,0,0) scale(1.02);
    }
}
@keyframes ani_godown {
    0% {
        opacity: 0.9;
        transform:translate3d(0,-2px,0) scale(1);
    }
    100% {
        opacity: 1;
       transform:translate3d(0,0,0) scale(1.02);
    }
}
/*第一屏 产品介绍*/
.col_1_wrap {
   
}
.col_1_wrap .col_text{
    float: left;
    width: 450px;
    margin-top: 33%;
}
.col_1_wrap .col_photo{
    float: right;
    position: relative;
    margin-top: 27%;
    margin-right: 4%;
}
.col_1_wrap .col_photo img{
    width: 100%;
}
.col_1_wrap .col_photo .focus{
    position: absolute;
    top: 67%;
    left: 46%;
    width: 11px;
    height: 21px;
    background-color: #688fae;
    -webkit-animation: ani_focus 0.5s linear infinite alternate ;
    animation: ani_focus 0.5s linear infinite alternate ;
}
@-webkit-keyframes ani_focus {
    0% {
        opacity: 0;
        transform:translate3d(0,0,0);
    }
    100% {
        opacity: 1;
       transform:translate3d(0,0,0);
    }
}
@keyframes ani_focus {
    0% {
        opacity: 0;
        transform:translate3d(0,0,0);
    }
    100% {
        opacity: 1;
       transform:translate3d(0,0,0);
    }
}
.col_1_wrap .tit{
    width: 447px;
    height: 125px;
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 10px;
    text-indent: -99em;
    background: url(../img/semantic/col_1_tit_2.png) no-repeat 0 0 ;
    overflow:hidden;
}
.col_1_wrap .text{
    margin-top: 56px;
    font-size: 16px;
    color: #fff;
}
/*公共 左侧*/
.mod_col_text{
    float: left;
    width: 430px;
}
.mod_col_h2{
    padding-top: 88px;
    padding-bottom: 30px;
    font-size: 26px;
}
/*公共title*/
.mod_col_title{
    height: 28px;
    line-height: 28px;
    font-weight: normal;
    padding-bottom: 16px;
}

/* 分析输入 */
.analysis_wrap{
    position: relative;
    width: 371px;
}
.analysis_content{
    position: relative;
    width: 350px;
    padding: 10px 6px 10px 15px;
    height: 460px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #FFF;
    background-color: rgba(255,255,255,.9);
    resize: none;
    overflow: hidden;
    outline: none;
}
.analysis_content .txt{
    width: 98%;
    padding-right: 5px;
    min-height: 410px;
    padding-bottom: 45px;
    outline: none;
    border: 0 none;
    background: none;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 100% 1.5em;
    background-position: 0 1.33em;
    background-repeat: repeat-y;
    background-attachment: local;
    background-color: transparent;
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.25s ease;
    transition: height 0.5s ease-in-out, box-shadow 0.25s ease;
    */
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-button {
    width: 7px;
    height:5px;
}
::-webkit-scrollbar-track {
    /*background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #ccc inset;*/
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#A8AAAB;
    border: thin solid #A8AAAB;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

.analysis_btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 6px 0;
    text-align: right;
    background-color: #FFFFFF;
    background-color: rgba(255,255,255,.9);
    /*box-shadow:0 -1px 3px rgba(0,0,0,.1);*/
    border-radius: 0 0 3px 3px;
}
.analysis_btn .btn{
    display: inline-block;
    *display: inline;
    *zoom:1;
    margin-right: 10px;
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #909090;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #575757;
    transition: all .4s ease-in-out;
}
.analysis_btn .btn:hover{
    background-color: #f1f1f1;
}
.analysis_btn .replaced{
    float: left;
    margin-left: 10px;
    padding: 0 4px;
    height: 24px;
    line-height: 24px;
    color: #2c2c2c;
    text-decoration: underline;
}
.analysis_btn .replaced:hover{
    color: #000;
}
/* 滚动条  mCustomScrollbar */
.mCustomScrollbar {
    -ms-touch-action: none;
    touch-action: none;
}
.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr;
}
.mCSB_inside > .mCSB_container {
    margin-right: 20px;
}
.mCSB_container {
    overflow: hidden;
    width: auto;
    height: auto;
    line-height: 26px;
}
.mCSB_scrollTools {
    opacity: 0.75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}
.mCSB_scrollTools {
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1;
    }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255,255,255,0.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #909090;
    background-color: rgba(114,114,114,0.8);
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
/* scrollbar modifying  */
.mCSB_scrollTools .mCSB_draggerRail{
    background:none;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 6px;
    background-color: #909090;
}
.analysis_content .mCSB_scrollTools {
    height: 100%;
    overflow: hidden;
}
.analysis_content .mCSB_scrollTools .mCSB_draggerContainer{
    bottom: 40px;
}
/*右侧结果主体*/
.mod_col_main{
    float: right;
    width: 710px;
}
.mod_col_main .mod_col_title{

}
.mod_result_title{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 14px;
}
.mod_result_content{
     padding-bottom:12px;
}
.result_main .row{
    padding-bottom: 22px;
}
/*类别 选项切换*/
.result_tabs {
     overflow: hidden;
}
.result_tabs a{
    float: left;
    margin-right: 10px;
    margin-bottom: 6px;
    height: 33px;
    line-height: 33px;
    padding: 0 17px;
    font-size: 14px;
    border: 2px solid #FFF;
    border-radius: 4px;
    white-space: nowrap;
    color: #FFF;
    transition: .4s cubic-bezier(.3,0,0,1.0);
}
.result_tabs a:hover,.result_tabs a.current{
    background-color: #10667f;
    border: 2px solid #10667f;
}
/*词法 分析*/
.result_words{
    height: 200px;
    margin-top: -1px;
    padding: 6px 0 6px 10px;
    background-color: #FFF;
    background-color: rgba(255,255,255,.9);
    border-radius:4px;
    color: #777;
}
/*分词结果*/
.result_words .txt_bor{
    display: inline-block;
    *display: inline;
    *zoom:1;
    margin: 0 5px 10px;
    padding: 0 8px;
    height: 29px;
    line-height: 29px;
    color: #FFF;
}
.result_words .n{
    border-color: #F00;      /* 名词 */
}
.result_words .v{
    border-color: #000;    /* 动词 */   
}
.result_words .m{
    border-color: #10f7ff;  /* 数词 */
}
.result_words .q{
    border-color: #6514fa; /* 量词 */
}
.result_words .normal{
    background-color: #a1a1a1;
}
.result_words .stress{
    background-color: #10667f;
}
/*句法分析*/
.result_sentence {
    padding-bottom: 68px;
}
.result_sentence .text{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 650px;
    padding:8px 5px 8px 20px;
    height: 98px;
    line-height: 32px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    background-color: rgba(255,255,255,.9);
}
.result_sentence .focal{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    margin: 0 2px;
    color: #FFF;
    background-color: #10667f;
    vertical-align: middle;
}

/* 同义词 */
.result_sort_item{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 635px;
    min-width: 350px;
    padding:0 20px;
    height: 52px;
    line-height: 52px;
    margin-bottom: 14px;
    background-color: #fff;
    background-color: rgba(255,255,255,.9);
    border-radius: 4px;
    overflow: hidden;
}
.result_sort_item span{
     /*display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 52px;
    padding: 0 22px ;
    line-height: 52px;
    border: 1px solid #4b5052;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    background-color: #afe4a9;*/
}

.result_sort_item .t{
     display: inline-block;
    *display: inline;
    *zoom: 1;
    min-width: 100px;
    margin-right: 4px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}
.result_sort_item .l{
    display: inline-block;
    width: 100%;
    min-width: 30px;
    height: 1px;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 1px solid #575757;
}
/*.result_sort_item .t:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -9px;
    height: 52px;
    width: 8px;
    background-color: #52b990;
}
.result_sort_item .w{
    margin-right: 12px;
    width: 102px;
    padding: 0;
}*/
/* 第二屏 */
.col_2_wrap .mod_col_h2, .col_2_wrap .mod_col_title{
    color: #2f6271;
}
.col_2_wrap .mod_col_title{

}
.col_2_wrap .mod_result_title{
    color: #fff;
    font-weight: normal;
}
/* 第三屏 */
.col_3_wrap .mod_col_h2, .col_3_wrap .mod_col_title{
    color: #1b7959;
}
.col_3_wrap .mod_col_title{

}
.col_3_wrap .mod_result_title{
    color: #fff;
    font-weight: normal;
}

/* 第四屏 */
.col_4_wrap .mod_col_h2{
    color: #507593;
}
.col_4_wrap .mod_col_title{
    color: #507593;
}
.col_4_wrap .mod_col_text{
    padding-top: 20px;
}
.col_4_wrap .mod_col_main{
    padding-top: 20px
}
.col_4_wrap .mod_result_title{
    color: #507593;
    font-weight: normal;
}
.show_wrap{
    
}
.show_tabs{
    height: 35px;
    font-size: 0;
    white-space: nowrap;
}
.show_tabs ul li{
    display: inline-block;
    *display: inline;
    *zoom: 1; 
    width: 185px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #507593;
    border: 1px solid #ffffff;
    border: 1px solid rgba(255,255,255,.4);
}
.show_tabs ul li.first{
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.show_tabs ul li.last{
    border-left: none;
    border-radius: 0 4px 4px 0;
}
.show_tabs ul li.on{
    color: #043d5d;
    background-color: #507593;
    border: 1px solid #507593;
}
.show_single_wrap{
    width: 740px;
}
.show_single_item{
    float: left;
    width: 360px;
    height: 320px;
    margin-right: 10px;
    _display: inline;
}
.show_single_item dt{
    height: 28px;
    font-weight: normal;
    color: #FFF;
    padding-bottom: 10px;
}
.show_single_item dd{
    position: relative;
    width: 360px;
    height: 210px;
}
.show_single_item dd .text{
    line-height: 24px;
    color: #9ebfd8;
}
.icon_clock{
    margin-right: 8px;
    width: 23px;
    height: 23px;
    background: url(../img/semantic/icon_clock.png) no-repeat 0 0;
}
.single_face_plan{
    position: relative;
    margin-top: 76px;
    margin-left: 28px;
    width: 232px;
}
.single_face_plan .plan_l,.single_face_plan .plan_r{
    position: absolute;
    height: 50px;
    top: 0;
    transition: .4s cubic-bezier(.3,0,0,1.0);
}
.single_face_plan .plan_l{
    left: 0;
    background-color: #f9c332;
}
.single_face_plan .plan_r{
    right: 0;
    background-color: #1ae15c;
}
.single_face_plan .icon_face_l,.single_face_plan .icon_face_r{
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
}
.single_face_plan .icon_face_l{
    left: -25px;
    zoom: 1.2;
    background: url(../img/semantic/icon_face_1.png) no-repeat 0 0;
}
.single_face_plan .icon_face_r{
    right: -25px;
    zoom: 1.2;
    background: url(../img/semantic/icon_face_2.png) no-repeat 0 0;
}
.single_face_plan .line_l,.single_face_plan .line_r{
    position: absolute;
    height: 23px;
    border-right: 1px solid #9ebfd8;
}
.single_face_plan .line_l{
    top: -31px;
    right: 20%;
}
.single_face_plan .line_r{
    top: 59px;
    left: 20%;
}
.single_face_plan .txt_l,.single_face_plan .txt_r{
    position: absolute;
    white-space: nowrap;
    color: #9ebfd8;
}
.single_face_plan .txt_l{
    top: -25px;
    left: -30px;
}
.single_face_plan .txt_r{
    top: 25px;
    left: -25px;
}
/* 多文本示例 */
.text_sample{
    width: 640px;
}
.text_sample li{
    height: 30px;
    line-height: 30px;
    overflow:hidden;
}

/* 第五屏 下载类API*/
.col_5_wrap .mod_col_h2{
    padding-top: 136px;
    padding-bottom: 10px;
    color: #286090;
}
.col_5_cont{

}
.col_5_title{
    padding-bottom: 30px;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    font-weight: normal;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 10;
    font-size: 14px;
    color: #1c1e20;
}
.search{
    z-index: 5;
    position: relative;
    width: 720px;
    margin: 0 auto;
    overflow: hidden;
}
.search_txt{
    float: left;
    /*margin-right: 9px;*/
    width: 475px;
    padding: 0 10px;
    height: 37px;
    line-height: 37px;
    /*border: none;*/
    /*border-radius: 4px;*/
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ccdae7;
    color: #879aaa;
    border: 2px solid #FFF;
    border-right: none;
    padding-left: 120px;
}
.search_btn{
    float: left;
    width: 105px;
    height: 37px;
    line-height: normal;
    background: none;
    border: 2px solid #FFF;
    color: #FFF;
    /*border-radius: 4px;*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-transition: .3s cubic-bezier(.3,0,0,1.3);
    overflow: hidden;
    display: block;
    *height: 41px;
}
.search_btn:hover{
    background-color: rgba(255,255,255,.1);
}
.search_btn:active{
    background-color: rgba(255,255,255,.3);
}
.col_5_tabs{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 530px;
}
.col_5_tabs .tabs_btn{
    z-index: 10;
    position: absolute;
    top: 43%;
    padding: 0 10px;
    line-height: 30px;
    cursor: pointer;
    white-space: nowrap;
    color: #FFF;
    transition: .8s cubic-bezier(.3,0,0,1.0);
}

.col_5_tabs .next{
    right: -50px;
    -webkit-animation: ani_col_5_prev 0.8s 0s ease-in-out infinite alternate;
    animation: ani_col_5_prev 0.8s 0s ease-in-out infinite alternate;
}
.col_5_tabs .next .txt_2{
   display: none;
}
.col_5_tabs .prev{
    left: 0;
     -webkit-animation: ani_col_5_next 0.8s 0s ease-in-out infinite alternate;
     animation: ani_col_5_next 0.8s 0s ease-in-out infinite alternate;
     display: none;
}
.col_5_tabs .icon_main{
    margin-right: 10px;
}
.icon_next2{
    width: 24px;
    height: 24px;
    background: url(../img/semantic/icon_next2.png) no-repeat 0 0;
}
.icon_prev{
    width: 24px;
    height: 24px;
    background: url(../img/semantic/icon_prev.png) no-repeat 0 0;
}
@-webkit-keyframes ani_col_5_next {
    0% {
            opacity: .7;
        /*transform: translate3d(-10px,0,0)*/
    }
    100% {
            opacity: 1;
        /*transform: translate3d(0,0,0)*/
    }
}
@-webkit-keyframes ani_col_5_prev {
    0% {
             opacity: .7;
        /*transform: translate3d(10px,0,0)*/
    }
    100% {
            opacity: 1;
        /*transform: translate3d(0,0,0)*/
    }
}
@keyframes ani_col_5_next {
    0% {
            opacity: .7;
        /*transform: translate3d(-10px,0,0)*/
    }
    100% {
            opacity: 1;
        /*transform: translate3d(0,0,0)*/
    }
}
@keyframes ani_col_5_prev {
    0% {
             opacity: .7;
        /*transform: translate3d(10px,0,0)*/
    }
    100% {
            opacity: 1;
        /*transform: translate3d(0,0,0)*/
    }
}
/* 默认位置 */
.col_5_tabs .box_1{
    position: absolute;
    top: 0;
    left: 174px;
    width: 822px;
    height: 510px;
    /*background: url(../img/semantic/col_pc_2.png) no-repeat center 0 ;
    -webkit-background-size: cover;
    background-size: cover;*/
    overflow: hidden;
}
.col_5_tabs .box_1 .bg_img{
    width: 100%;
}
.col_5_tabs .box_1_demo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 36px 0 0 77px;
    width: 670px;
    height: 420px;
}
.box_1_demo .img_show{
    text-align: center;
}
.box_1_demo img {
    display: block;
    width: 100% !important;
    height: auto !important;
    transition: .8s cubic-bezier(.3,0,0,1.0);
}
.box_1_demo .mCSB_inside > .mCSB_container{
    margin-right: 0;
}
.col_5_tabs .box_2{
    position: absolute;
    top: 99px;
    right: 97px;
    width: 191px;
    height: 401px;
}
.col_5_tabs .box_2 .bg_img{
    width: 100%;
}
.col_5_tabs .box_2_demo{
    position: absolute;
    top: 48px;
    left: 17px;
    width: 160px;
    height: 296px;
    overflow: auto;
}
.box_2_demo .text_show{
    padding:8px 10px 8px 8px;
}
/*-------added by fwindychen----*/
 .box_2_demo .text_show img{
	width:100%;
 }
/*-------added by fwindychen----*/
.box_2_demo .mCSB_inside > .mCSB_container{
    margin-right: 0;
}
.col_5_tabs .box_3{
    position: absolute;
    left: 27%;
    top: 47px;
    width: 852px;
    height: 452px;
    background-color: #fff;
    border-radius: 3px;
}
.news_wrap{
    padding: 10px 20px 20px;
}
.news_title {
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfbf;
}
.news_wrap h4{
    padding-bottom: 10px;
    font-size: 13px;
    color: #7a7a7a;
    font-weight: normal;
}
.news_title p{
    line-height:30px; 
}
.news_cont{
    padding-top: 20px;
}
.news_cont .detail{
    height: 300px;
}
/* 初始状态----------- */
.box_2 ,.box_3{
    z-index: 4;
    transition: .8s cubic-bezier(.3,0,0,1.0);
}
.box_1{
    z-index: 5;
    transition: .8s cubic-bezier(.3,0,0,1.0);
}
.col_5_tabs .box_2{
    opacity: 0;
    display: none\0/;
    *display: none;
    right: 197px;
}
.col_5_tabs .box_3{
    opacity: 0;
    display: none\0/;
    *display: none;
    top: -100px;
}
.col_5_tabs .prev{
    opacity: 0;
    display: none\0/;
    *display: none;
}
/* 动画完成后 */
.current_1 .prev{
    opacity: 1;
    display: block\0/;
    *display: block;
}
.current_1 .next .txt_1{
    display: none;
}
.current_1 .next .txt_2{
    display: inline-block;
}
.current_2 .next{
    display: none;
}
.current_2 .prev{
    opacity: 1;
    display: block\0/;
    *display: block;
}

.current_1 .box_1{
    z-index: 10;
    opacity: 1;
    left: 10px;
}
.current_1 .box_2{ 
    opacity: 1;
    display: block\0/;
    *display: block;
    right: 97px;
}
.current_1 .box_3{ 
    z-index: 1;
}
.current_2 .box_1{
    z-index: 1;
    opacity: 0;
    display: none\0/;
    *display: none;
    left: 0;
}
.current_2 .box_2{
    opacity: 1;
     display: block\0/;
    *display: block;
    right: 77%;
}
.current_2 .box_3{
    z-index: 10;
    opacity: 1;
    display: block\0/;
    *display: block;
    top: 47px;
}

/* 第六屏 */
.col_6_wrap {
    padding-bottom: 120px;
}
.col_6_wrap .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.col_6_tit{
    position: absolute;
    top: 290px;
    left: 50%;
    margin-left: -177px;
    width: 354px;
    height: 132px;
    background: url(../img/semantic/col_6_tit.png) no-repeat 0 0;
    text-indent: -99em;
}
.col_6_btn{
    position: absolute;
    top: 480px;
    left: 0;
    width: 100%;
    text-align: center;
}


/* -----滚屏缓动-----  */

.ani_col_1{
    -webkit-animation: ani_col_wrap 0.6s .4s ease-in-out both;
    animation: ani_col_wrap 0.6s .4s ease-in-out both;
}
@-webkit-keyframes ani_col_wrap {
    0% {
        opacity: 1;
        transform:translate3d(0,352px,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes ani_col_wrap {
    0% {
        opacity: 1;
        transform:translate3d(0,352px,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
/* -----星星 滚屏缓动-----  */
.ani_col_2{
    -webkit-animation: ani_col_2 3.6s .2s ease-in-out both;
    animation: ani_col_2 3.6s .2s ease-in-out both;
}
@-webkit-keyframes ani_col_2 {
    0% {
        opacity: 0;
        transform:translate3d(0,552px,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes ani_col_2 {
    0% {
        opacity: 0;
        transform:translate3d(0,552px,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
/* -----来自星星的你 -------*/
.col_bg{
    position: relative;
}
.col_bg em{
    position: absolute;
}
.col_bg .iconfont{
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}
/* 类型 */
.icon_dot{
   /* 圆形 &#xe607; */
}
.icon_san{
    /* 三角形 &#xe60a; */
}
.icon_six{
    /*六边形 &#xe609; */
}
.icon_four{
   /*四边形 &#xe608; */
}

 /* 大小 */
.size_20{
    width: 20px;
    height: 20px;
   font-size: 20px;
   line-height: 20px;
}
.size_25{
    width: 25px;
    height: 25px;
   font-size: 25px;
   line-height: 25px;
}
.size_30{
    width: 30px;
    height: 30px;
   font-size: 30px;
   line-height: 30px;
}
.size_35{
    width: 35px;
    height: 35px;
   font-size: 35px;
   line-height: 35px;
}
.size_40{
    width: 40px;
    height: 40px;
   font-size: 40px;
   line-height: 40px;
}
.size_50{
    width: 50px;
    height: 50px;
   font-size: 50px;
   line-height: 50px;
}
.size_60{
    width: 60px;
    height: 60px;
   font-size: 60px;
   line-height: 60px;
}
.size_65{
    width: 65px;
    height: 65px;
   font-size: 65px;
   line-height: 65px;
}
.size_70{
    width: 70px;
    height: 70px;
   font-size: 70px;
   line-height: 70px;
}
.size_80{
    width: 80px;
    height: 80px;
   font-size: 80px;
   line-height: 80px;
}
.size_85{
    width: 85px;
    height: 85px;
   font-size: 85px;
   line-height: 85px;
}
.size_90{
    width: 90px;
    height: 90px;
   font-size: 90px;
   line-height: 90px;
}
.size_100{
    width: 100px;
    height: 100px;
   font-size: 100px;
   line-height: 100px;
}
/* 定位 */
/* 01 */
.wrap_xy_1 .em_xy_1 {
    bottom: 17%;
    left: 17%;
}
.wrap_xy_1 .em_xy_2 {
    top: 30%;
    left: 30%;
}
.wrap_xy_1 .em_xy_3 {
    top: 24%;
    left: 0;
}
.wrap_xy_1 .em_xy_4 {
    top: 22%;
    right: 20%;
}
.wrap_xy_1 .em_xy_5 {
    bottom: 10%;
    left: 40%;
}
.wrap_xy_1 .em_xy_6 {
    top: 52%;
    right: 20%;
}
.wrap_xy_1 .em_xy_7{
    bottom: 6%;
    right: -10%;
}
.wrap_xy_1 .em_xy_8{
    top: 32%;
    right: 38%;
}

/*  02 */
.wrap_xy_2 .em_xy_1 {
    bottom: 10%;
    left: -3%;
}
.wrap_xy_2 .em_xy_2 {
    top: 25%;
    left: 30%;
}
.wrap_xy_2 .em_xy_3 {
    bottom: 26%;
    left: 34%;
}
.wrap_xy_2 .em_xy_4 {
    bottom: 6%;
    right: -3%;
}
.wrap_xy_2 .em_xy_5 {
    top: 51%;
    right: 17%;
}
.wrap_xy_2 .em_xy_6 {
    top: 12%;
    right: 7%;
}

/* 05 */
#section5 .icon_san {color: #55c225; }
#section5 .icon_dot {color: #31a4d9; }
#section5 .icon_six {color: #ff6a28; }
#section5 .icon_four{color: #fbb234; }
#section5 .iconfont{filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6; opacity: 0.6;}

/* 星星的 旋转 */

.ani_rot_1 {
    -webkit-animation: ani_rot_1 10.8s 0s linear infinite  ;
    animation: ani_rot_1 10.8s 0s linear infinite  ;
}
@-webkit-keyframes ani_rot_1 {
    0% {
        transform:rotate(0deg);
    }
    100% {
       transform:rotate(360deg);
    }
}
@keyframes ani_rot_1 {
    0% {
        transform:rotate(0deg);
    }
    100% {
       transform:rotate(360deg);
    }
}

/* 星星的 位移 */
.ani_xy_1{
    -webkit-animation: ani_xy_1 12s 0s linear infinite alternate ;
    animation: ani_xy_1 12s 0s linear infinite alternate ;
}
@-webkit-keyframes ani_xy_1 {
    0% {
        transform:translate3d(0,-50px,0);
    }
    100% {
       transform:translate3d(30px,50px,0);
    }
}
@keyframes ani_xy_1 {
    0% {
        transform:translate3d(0,-50px,0);
    }
    100% {
       transform:translate3d(30px,50px,0);
    }
}
.ani_xy_2 {
    -webkit-animation: ani_xy_2 12s 0s linear infinite alternate ;
    animation: ani_xy_2 12s 0s linear infinite alternate ;
}
@-webkit-keyframes ani_xy_2 {
    0% {
        transform:translate3d(-30px,-58px,0) ;
    }
    100% {
       transform:translate3d(0,50px,0);
    }
}
@keyframes ani_xy_2 {
    0% {
        transform:translate3d(-30px,-58px,0) ;
    }
    100% {
       transform:translate3d(0,50px,0);
    }
}
.ani_xy_3 {
    -webkit-animation: ani_xy_3 12s 0s linear infinite alternate ;
    animation: ani_xy_3 12s 0s linear infinite alternate ;
}
@-webkit-keyframes ani_xy_3 {
    0% {
        transform:translate3d(0,58px,0) ;
    }
    100% {
       transform:translate3d(-30px,-50px,0) ;
    }
}
@keyframes ani_xy_3 {
    0% {
        transform:translate3d(0,58px,0) ;
    }
    100% {
       transform:translate3d(-30px,-50px,0) ;
    }
}
.ani_xy_4 {
    -webkit-animation: ani_xy_4 12s 0s linear infinite alternate ;
    animation: ani_xy_4 12s 0s linear infinite alternate ;
}
@-webkit-keyframes ani_xy_4 {
    0% {
        transform:translate3d(0,58px,0) ;
    }
    100% {
        transform:translate3d(30px,-60px,0) ;
    }
}
@keyframes ani_xy_4 {
    0% {
        transform:translate3d(0,58px,0) ;
    }
    100% {
        transform:translate3d(30px,-60px,0) ;
    }
}

/* 响应式 处理 */
.col_1_wrap{
    top: 50%;
    margin-top: -460px;
}
.col_2_wrap, .col_3_wrap, .col_4_wrap, .col_5_wrap, .col_6_wrap{
    margin-top: -500px;
}
@media (min-height: 800px) and (max-height: 900px) {
   .col_2_wrap, .col_3_wrap, .col_4_wrap, .col_5_wrap, .col_6_wrap{
        margin-top: -460px;
    }
}
/*and (max-width: 1401px)*/
@media screen and (max-height: 799px) {
    .col_2_wrap, .col_3_wrap, .col_4_wrap, .col_5_wrap, .col_6_wrap{
        padding-top: 60px;
        margin-top: -460px;
    }
    #cate_nav{
        top: 74px;
    }
    .col_1_wrap{
        margin-top: -302px;
    }
    .col_1_wrap .col_text {
        margin-top: 21%;
    }
    .col_1_wrap .col_photo {
        margin-top: 17%;
        width: 500px;
    }
    .analysis_content{
        height: 420px;
    }
    .analysis_content .txt{
        min-height: 370px;
    }
    .result_main .row{
        padding-bottom: 3px;
    }
    .result_sentence {
        padding-bottom: 44px;
    }
    .mod_col_main{
    }
    .mod_col_h2 {
        padding-bottom: 10px;
    }
    .col_4_wrap .mod_col_text{
        padding-top: 0;
    }
    .mod_col_title{
        padding-bottom: 10px;
    }
    .show_single_item {
        height: 252px;
    }
   
    /* 电脑 手机 变小开始  */
     .box_1, .box_2 ,.box_3{

    }
    .col_5_wrap {
        top: 62%;
    }
    .col_5_tabs .box_1{
        width: 582px;
        height: 358px;
    }
    .col_5_wrap .mod_col_h2{
        padding-top: 70px;
    }
    .col_5_tabs .box_1_demo {
        margin: 26px 0 0 55px;
        width: 474px;
        height: 296px;
    }
    .col_5_tabs .box_2{
        top: 10px;
        width: 170px;
        height: 351px;
    }
    .col_5_tabs .box_2_demo {
        width: 144px;
        height: 251px;
        top: 53px;
        left: 16px;
    }
    .box_2_demo .text_show {
        padding: 2px 6px;
    }
    .col_5_tabs .box_3 {
        top: 45px;
        width: 632px;
        height: 315px;
    }
    .news_wrap h4 {
        padding-bottom: 5px;
    }
    .news_title{
        padding-bottom: 4px;
    }
    .news_cont {
        padding-top: 9px;
    }
    .news_cont .detail {
        height: 194px;
    }
    .col_5_tabs .tabs_btn{
        top: 30%;
    }
    .col_5_tabs .box_1 {
        left: 265px;
    }
    .current_1 .box_2 {
        opacity: 1;
        right: 127px;
    }
    .current_2 .box_3{
        top: 20px;
    }
    
}

@media screen and (max-width: 1401px){
    
    .col_1_wrap, .col_2_wrap, .col_3_wrap, .col_4_wrap, .col_5_wrap, .col_6_wrap{
        margin-left: -500px;
    }
    .col_1_wrap .col_photo {
        width: 500px;
        margin-right: 0;
    }

    .mod_col_main{
        width: 568px;
    }
    .result_words{
        padding-left: 3px;
    }
    .result_sentence .text{
        width: 568px;
    }
    

    .show_single_item {
        width: 320px;
    }
    .single_face_plan{
        width: 182px;
    }
   /* 电脑 手机 变小开始  */
     .box_1, .box_2 ,.box_3{

    }
    .col_5_wrap {
        top: 62%;
    }
    .col_5_tabs .box_1{
        width: 582px;
        height: 358px;
        left: 180px;
    }
    .col_5_tabs .box_1_demo {
        margin: 26px 0 0 55px;
        width: 474px;
        height: 296px;
    }
    .col_5_tabs .box_2{
        top: 0;
        width: 170px;
        height: 351px;
    }
    .col_5_tabs .box_2_demo {
        width: 141px;
        height: 266px;
        top: 43px;
        left: 16px;
    }
    .box_2_demo .text_show {
        padding: 2px 11px 2px 2px;
    }
    .col_5_tabs .box_3 {
        top: 45px;
        width: 632px;
        height: 315px;
    }
    .news_wrap h4 {
        padding-bottom: 5px;
    }
    .news_title{
        padding-bottom: 4px;
    }
    .news_cont {
        padding-top: 9px;
    }
    .news_cont .detail {
        height: 194px;
    }
    .col_5_tabs .tabs_btn{
        top: 30%;
    }

   .current_1 .box_1{
        left: 60px;
    }
    .current_1 .box_2 {
        opacity: 1;
        right: 127px;
    }
    .current_2 .box_3{
        top: 20px;
    }

    .col_5_title {
        left: 16px;
    }

}

.semantic .header_content{
    left: -9px;
}

.sign_wrap .drop_list{
    display:none;
    position: absolute;
    top: 47px;
    left: -10px;
    background-color: #0d1c25;
    /* box-shadow: 0 0 24px rgba(12,2,3,0.3); */
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.drop_list ul li a{
  display: block;
  min-width: 112px;
  white-space: nowrap; 
  padding: 0 10px; 
  height: 34px;
  line-height: 34px;
  color: #9ebfd8;
  font-size: 12px;
  text-align: left;
}
.drop_list ul li a:hover{
  background-color: #1f3450;
  color: #FFF;
}

.sign_wrap:hover .drop_list{
  display:inline-block;
}
