body {
	background:url(../img/login_bg_0.jpg) #f8f6e9;
}

.signin-head {
    position: relative;
    margin: 75px auto;
    width: 120px;
    z-index: 9999;
    top: 0;
}
.signin-title {
    margin: -80px auto 40px auto;
    text-align: center;
    color: #fff;
    margin-left: -25px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #555;
    z-index: 999;
    top: 0;
    position: relative;
}

.signin {
	width:477px;
	height:479px;
	background:url(../img/login_bg.png) no-repeat;
	margin:0 auto;
	
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-239px;
	margin-left:-238px;
}

.form-signin {
  max-width: 330px;
  padding: 43px 15px 15px 15px;
  margin: 190px auto;
}
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 14px;
  border-radius: 0;
  background: url(../img/login_user.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  background: url(../img/login_pas.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.form-signin button {
  border-radius: 0;
}